# Init

In [1]:
import pickle
import pandas as pd

from models import DistanceModel
from predictor import Predictor, Formatter

In [3]:
model = DistanceModel(que_dim= 34 - 2 + 8 - 2,
                                  que_input_embs=[102, 42], que_output_embs=[2, 2],
                                  pro_dim=27 - 2,
                                  pro_input_embs=[102, 102, 42], pro_output_embs=[2, 2, 2],
                                  inter_dim=20, output_dim=10)
model.load_weights('model.h5')

In [4]:
with open('dump.pkl', 'rb') as file:
    d = pickle.load(file)
    que_data = d['que_data']
    stu_data = d['stu_data']
    pro_data = d['pro_data']
    que_proc = d['que_proc']
    pro_proc = d['pro_proc']
    que_to_stu = d['que_to_stu']
    pos_pairs = d['pos_pairs']

C:\Users\nikitosoleil\Anaconda3\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [6]:
pred = Predictor(model, que_data, stu_data, pro_data, que_proc, pro_proc, que_to_stu, pos_pairs)

In [7]:
formatter = Formatter('../../data/')

# From ques

In [8]:
que_dict = {
    'questions_id': ['332a511f1569444485cf7a7a556a5e54'],
    'questions_author_id': ['8f6f374ffd834d258ab69d376dd998f5'],
    'questions_date_added': ['2016-04-26 11:14:26'],
    'questions_title': ['Teacher   career   question'],
    'questions_body': ['What  is  a  maths  teacher?   what  is  a  maths  teacher  useful? #college #professor #lecture'],
    'questions_tags': ['college lecture professor']
}

In [10]:
que_df, que_tags = Formatter.convert_que_dict(que_dict)

In [11]:
tmp = pred.find_pros_by_que(que_df, que_tags)
formatter.get_pro(tmp)

                   professionals_id     ...     match_score
4  16ff670578744fee9c135dd03f7eaff5     ...        0.768052
1  42c593dcee1f4e37ba07f9fc29ed335c     ...        0.755143
3  51a38e3c7e264f27a71ccd481ee46321     ...        0.746681
0  77e432d5e2334e318e16110a6d2986e0     ...        0.734782
8  22bbfbb66df1454a8eeca5e47900db84     ...        0.719026
7  8d75c2d41c2441069aa47e21d7e64aba     ...        0.713921
2  837d8ca80cbb4c63881d16f92a691c25     ...        0.708224
5  8a32b49c0bf547d4909f78067e4b61e4     ...        0.705653
6  486c2351d0bc400d85f3dabcf135c7d0     ...        0.704386
9  f8cc03f45f1c4484936e08deec76f66e     ...        0.698321

[10 rows x 9 columns]

In [12]:
tmp = pred.find_ques_by_que(que_df, que_tags)
formatter.get_que(tmp)

                       questions_id     ...     match_score
0  332a511f1569444485cf7a7a556a5e54     ...        0.980469
9  e1841961906a4784ae81cc884784455b     ...        0.872050
7  32b7d18ebb4b466dbd4e6f96f0e67765     ...        0.854500
6  33507de75ab14ccca8d43770f510ebe6     ...        0.827468
3  375e8837de4f4bde98955dee44de75bd     ...        0.823815
2  85ff7763be774769a95f2b61264d0290     ...        0.822268
1  b5b2d13d521e4ba1b241fafab8a2a726     ...        0.820130
8  0d5fb48295794187973bc623cb3aada6     ...        0.811828
4  4828fd4d71e54f83ae1f3116568bcd57     ...        0.805815
5  917020d7319f40568e0859a565f3c35e     ...        0.805688

[10 rows x 9 columns]

# From pros

In [13]:
pro_dict = {
    'professionals_id': ['f64df9b489864952917cb631be1ddac7'],
    'professionals_location': ['United States'],
    'professionals_industry': ['Telecommunications'],
    'professionals_headline': ['Wireless Technology Planning'],
    'professionals_date_joined': ['2016-11-28 20:24:01'],
    'professionals_subscribed_tags': ['pharmaceutical-industry medicine healthcare-it biology science healthcare research']
}

In [14]:
pro_df, pro_tags = Formatter.convert_pro_dict(pro_dict)

In [15]:
ans_df = pd.read_csv('../../data/answers.csv')
que_df = pd.read_csv('../../data/questions.csv')

In [16]:
tmp = pred.find_ques_by_pro(pro_df, que_df, ans_df, pro_tags)
formatter.get_que(tmp)

                       questions_id     ...     match_score
6  aae03d7233b34d5e899c8974d886abeb     ...        0.868740
9  3d71d8c3b7244013ac307416d00c0ada     ...        0.844951
1  6a2ab264c44e4d1a9f8075277cb3a224     ...        0.839741
5  0ff78a2cbdfc478c9978bf00d947f194     ...        0.835790
3  6b9f44accb684c939eb705f251a28f58     ...        0.826262
2  a86865203c9843d7b05633896f14542e     ...        0.826233
7  10f7d3b8c6584697b56716f6785b7344     ...        0.822051
8  542b2039685f4c10a178c1f5ae9829fa     ...        0.821768
0  a0a07b6de21143abaf731d0cafe96477     ...        0.817421
4  84edf5ced9fc4b3da4cdf1888605b8c9     ...        0.816056

[10 rows x 9 columns]

In [17]:
tmp = pred.find_pros_by_pro(pro_df, que_df, ans_df, pro_tags, 10)
formatter.get_pro(tmp)

                   professionals_id     ...     match_score
1  9c8e238b58b7423098f9c0a37508cbef     ...        0.858879
3  6b79d23e11f64dd4a41fb101ae2a4d81     ...        0.841917
2  34a9b13cd2f24dcf81214121c964108f     ...        0.837109
8  46d27e4bd84d491dac10b8729662e66b     ...        0.834365
4  db0067482a7d4fce86f5cefb5c92b538     ...        0.823171
7  0bea37e25b104f72a55d685ed8fec56d     ...        0.817035
0  e2c7328a5873432bade5ce6aa9b07f44     ...        0.791779
6  9a40523a6e2d4575a255e77e2ab580ed     ...        0.790936
5  c80ae7a150c84cdf86e707427e4fb7fe     ...        0.784839
9  a465c8396d4d44359dbe90166a7e2dee     ...        0.784513

[10 rows x 9 columns]